@import "common.css";

main {
    width: max(100%, 500px);
    height: 700px;

    border-radius: 8px;
    overflow: hidden;

    margin-top: 32px;

    display: flex;
}

.list-wrap {
    height: 100%;
    overflow-y: scroll;
}

.webtoon-list-wrap {
    width : 50%;
}

.webtoon-list img {
    width : 100%;
}

.text-list-wrap {
    width : 50%;

    padding: 12px;
}